<div>
    <h1>Edit</h1>
    <p>
        <a [routerLink]="['/']">Back to list</a>
    </p>
    <form #editForm="ngForm">
        <input type="hidden" name="cajaid" #cajaid
        value={{departamento.idDepartamento}}/>
        <label>Nombre</label>
        <input type="text" class="form-control"
        name="cajanombre" #cajanombre
        value={{departamento.nombre}}/>
        <label>Localidad</label>
        <input type="text" class="form-control"
        name="cajalocalidad" #cajalocalidad
        value={{departamento.localidad}}/>
        <button class="btn btn-info" (click)="updateDepartamento()">
            Update
        </button>
    </form>
</div>