<div>
    <h1>Home departamentos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id departamento</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (dept of departamentos; track dept){
                <tr>
                    <td>{{dept.idDepartamento}}</td>
                    <td>{{dept.nombre}}</td>
                    <td>{{dept.localidad}}</td>
                    <td>
<a [routerLink]="['/details/' + dept.idDepartamento 
+ '/' + dept.nombre + '/' + dept.localidad]" class="btn btn-dark">
    Details
</a>                        

<a [routerLink]="['/details', dept.idDepartamento, dept.nombre, dept.localidad]"
class="btn btn-outline-dark">
    Details
</a>

<a [routerLink]="['/edit', dept.idDepartamento]" class="btn btn-info">
    Edit
</a>

<button (click)="deleteDepartamento(dept.idDepartamento)" 
class="btn btn-danger">
    Delete
</button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>