<div>
    <form #createForm="ngForm">
        <label>Id departamento</label>
        <input type="number" class="form-control"
        name="cajaid" #cajaid/>
        <label>Nombre</label>
        <input type="text" class="form-control"
        name="cajanombre" #cajanombre/>
        <label>Localidad</label>
        <input type="text" class="form-control"
        name="cajalocalidad" #cajalocalidad/>
        <button class="btn btn-info">
            Crear departamento
        </button>
    </form>
</div>